<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org>">
<head>
    <meta charset="UTF-8">
    <title>Edit Room</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>

<div class="container py-5">

    <!-- For demo purpose -->
    <div class="row mb-4">
        <div class="col-lg-8 mx-auto text-center">
            <h1 class="display-4">Welcome to Building Resources Admin Tool!</h1>
            <p class="lead mb-0">Easily manage your headquarter buildings and other assets</p>
            <p class="lead">Offered by <a href="https://linkedin.com/in/tudor-alexandru-ienulescu">Alexandru
                Ienulescu</a></p>
        </div>
    </div>
    <!-- End -->


    <div class="row">
        <div class="col-lg-7 mx-auto">
            <div class="bg-white rounded-lg shadow-sm p-5">

                <!-- Add Room info -->
                <div id="nav-tab-paypal">
                    <p>Please describe the rooms by their function</p>
                    <form th:action="@{/rooms/{id}/update(id=${roomDto.roomId})}" method="post" role="form" th:object="${roomDto}">
                        <div class="form-group">
                            <label for="roomId">Room ID</label>
                            <input type="text" id="roomId" th:field="*{roomId}" placeholder="e.g. 777"
                                   class="form-control">
                            <label th:if="${#fields.hasErrors('roomId')}" th:class="'error'" th:errors="*{roomId}" class="col-lg-4 control-label" style="color:red;" ></label>
                        </div>
                        <div class="form-group">
                            <label for="roomBuildingId">Building ID</label>
                            <select id="roomBuildingId" th:field="*{buildingId}" class="form-control">
                                <option th:each="buildingId:${roomDto.buildingIds}" th:value="${buildingId}" th:text="${buildingId}"></option>
                            </select>
                            <label th:if="${#fields.hasErrors('buildingId')}" th:class="'error'" th:errors="*{buildingId}" class="col-lg-4 control-label" style="color:red;" ></label>
                        </div>
                        <div class="form-group">
                            <label for="nameId">Room name</label>
                            <input type="text" id="nameId" th:field="*{name}" placeholder="e.g. Living Room"
                                   class="form-control">
                            <label th:if="${#fields.hasErrors('name')}" th:class="'error'" th:errors="*{name}" class="col-lg-4 control-label" style="color:red;" ></label>
                        </div>

                        <div class="form-group">
                            <label for="roomSurface">Surface of the room</label>
                            <input type="number" id="roomSurface" th:field="*{squareMeters}"
                                   placeholder="Surface in square meters"  class="form-control">
                            <label th:if="${#fields.hasErrors('squareMeters')}" th:class="'error'" th:errors="*{squareMeters}" class="col-lg-4 control-label" style="color:red;" ></label>
                        </div>

                        <button type="submit" name="action" value="addRoom" class="subscribe btn btn-primary btn-block rounded-pill shadow-sm">
                            Add
                        </button>
                    </form>

                    <p class="text-muted">Please consult the building foreman for the required details
                    </p>

                </div>
                <!-- End -->

            </div>
        </div>
    </div>
</div>

</body>
</html>